<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/navbar.ejs') %>

<div class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="title">Add your books</div>
        <div class="field has-addons">
            <div class="control">
                <input id="book-search-title" class="input" type="text"
                value="<%= q %>"
                />
            </div>
            <div class="control">
                <button id="book-search" class="button is-primary"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-quarters-tablet">
                <!-- ➿ looping the returned results here... -->
                <% if (books) { %>
                <% for(var i = 0; i < books.length; i++) { %>
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img class="book-thumbnail" src="<%= books[i].imgurl %>" alt="">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong class="book-title"><%= books[i].title %></strong>
                                    <small class="book-authors">
                                        <% if (books[i].authors) { %>
                                        <%= books[i].authors.join(', ') %>
                                        <% } %>
                                    </small>
                                    <br/>
                                    <span class="book-description">
                                        <% if (books[i].description) { %>
                                        <%= books[i].description.slice(0, 140) + '...' %>
                                        <% } %>
                                    </span>
                                </p>
                            </div>
                            <button class="book-add button is-warning has-text-white">Add</button>
                        </div>
                    </article>
                </div>
                <% }} %>
                <!-- The loop -->
            </div>
        </div>
    </div>
</section>
<div class="modal">
    <div onclick="closeModal()" class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h1 class="title">Your book has been saved</h1>
        </div>
    </div>
    <button onclick="closeModal()" class="modal-close is-large" aria-label="close"></button>
</div>
<script>
    function closeModal() {
        document.querySelector('.modal').classList += '.modal';
    }

    var user = <%- JSON.stringify(user) || 'undefined' %>;

    var $bookAdd = Array.prototype.slice.call(document.querySelectorAll('.book-add'));
    $bookAdd.forEach(function($el) {
       $el.addEventListener('click', function() {
            var p = this.parentNode.parentNode;
            var newBook = {
                user: user._id,
                title : p.querySelector('.book-title').innerText.trim(),
                authors : p.querySelector('.book-authors').innerText.trim(),
                description : p.querySelector('.book-description').innerText.trim(),
                imgurl : p.querySelector('.book-thumbnail').src
            }
            superagent
                .post('/mybooks/add')
                .send(newBook)
                .end(function(err, res) {
                   document.querySelector('.modal').classList += ' is-active';
                });
       })
    });

    $bookSearch = document.querySelector('#book-search');
    $bookSearch.addEventListener('click', function() {
       var q = document.querySelector('#book-search-title').value;
       console.log(q);
       window.location = '/mybooks/add?q=' + q;
    });

</script>

</body>
</html>