<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/navbar.ejs') %>

<div class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="title">Add your books</div>
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="text"
                value="<%= q %>"
                />
            </div>
            <div class="control">
                <button class="button is-primary"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-quarters-tablet">
                <!-- ➿ looping the returned results here... -->
                <% if (books) { %>
                <% for(var i = 0; i < books.length; i++) { %>
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="<%= books[i].imgurl %>" alt="">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong><%= books[i].title %></strong>
                                    <small>
                                        <% if (books[i].authors) { %>
                                        <%= books[i].authors.join(', ') %>
                                        <% } %>
                                    </small>
                                    <br/>
                                    <% if (books[i].description) { %>
                                    <%= books[i].description.slice(0, 140) + '...' %>
                                    <% } %>
                                </p>
                            </div>
                            <button class="button is-warning has-text-white">Add</button>
                        </div>
                    </article>
                </div>
                <% }} %>
                <!-- The loop -->
            </div>
        </div>
    </div>
</section>

</body>
</html>