<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/navbar.ejs') %>

<section class="header">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-one-fifth-tablet header-pic">
                <img src="./svg/bookshelf.svg" alt="">
            </div>
            <div class="column is-two-fifths-tablet header-title">
                <h1 class="title is-1 has-text-white">All Books</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter-tablet">

            </div>
            <div class="column is-three-quarters-tablet">
                <!-- ➿ looping the returned results here... -->
                <% if (books) { %>
                <% for(var i = 0; i < books.length; i++) { %>
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="<%= books[i].imgurl %>" alt="">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong><%= books[i].title %></strong>
                                    <small>
                                        <% if (books[i].authors) { %>
                                        <%= books[i].authors %>
                                        <% } %>
                                    </small>
                                    <br/>
                                    <% if (books[i].description) { %>
                                    <%= books[i].description.slice(0, 140) + '...' %>
                                    <% } %>
                                </p>
                            </div>
                            <!--Todo: Check this...strange behaviour 🙄 -->
                            <% if(!books[i].user.equals(user._id)) { %>
                                <button data-bookid="<%= books[i]._id %>" class="book-request button is-warning has-text-white">Request</button>
                            <% } else { %>
                                <button class="button is-light" disabled>Your book! </button>
                            <% } %>
                        </div>
                    </article>
                </div>
                <% }} %>

            <!-- 💃 Pagination -->
                <%- include('partials/pagination.ejs') %>
            </div>
        </div>
    </div>
</section>
<script>
    var bookrequests = Array.prototype.slice.call(document.querySelectorAll('.book-request'));
    bookrequests.forEach(function($el) {
        $el.addEventListener('click', function() {
            superagent
                .post('/books/' + this.dataset.bookid)
                .end((err, res) => {
                    console.log(res.body);
                })
        })
    })
</script>
</body>
</html>