<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/navbar.ejs') %>

<%- include('partials/section-head.ejs', { svgurl: './svg/bookshelf.svg', titletext: 'All Books' })%>

<section>
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter-tablet">
                <div class="box">
                    <div class="title is-4">Welcome to Stork Books</div>
                    <% if (!user ) { %>
                        <p>Login in to request/add books</p>
                    <% } %>
                </div>
            </div>
            <div class="column is-three-quarters-tablet">
                <!-- ➿ looping the returned results here... -->
                <% if (books) { %>
                <% for(var i = 0; i < books.length; i++) { %>
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="<%= books[i].imgurl %>" alt="">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong><%= books[i].title %></strong>
                                    <small>
                                        <% if (books[i].authors) { %>
                                        <%= books[i].authors %>
                                        <% } %>
                                    </small>
                                    <br/>
                                    <% if (books[i].description) { %>
                                    <%= books[i].description.slice(0, 140) + '...' %>
                                    <% } %>
                                </p>
                            </div>
                            <!--Todo: Check this...strange behaviour 🙄 -->
                            <% if (user) { %>
                                <% if(!books[i].user.equals(user._id)) { %>
                                    <button data-bookid="<%= books[i]._id %>" class="book-request button is-warning has-text-white">Request</button>
                                <% } else { %>
                                    <button class="button is-light" disabled>Your book! </button>
                                <% } %>
                            <% } %>
                        </div>
                    </article>
                </div>
                <% }} %>

            <!-- 💃 Pagination -->
                <% if (pages > 1) { %>
                <%- include('partials/pagination.ejs') %>
                <% } %>
            </div>
        </div>
    </div>
</section>
<div class="modal">
    <div onclick="closeModal()" class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h1 class="title">Your request has been sent!</h1>
        </div>
    </div>
    <button onclick="closeModal()" class="modal-close is-large" aria-label="close"></button>
</div>
<script>
    function closeModal() {
        document.querySelector('.modal').classList += '.modal';
        window.location = '/books';
    }

    var bookrequests = Array.prototype.slice.call(document.querySelectorAll('.book-request'));
    bookrequests.forEach(function($el) {
        $el.addEventListener('click', function() {
            superagent
                .post('/books/' + this.dataset.bookid)
                .end((err, res) => {
                    document.querySelector('.modal').classList += ' is-active';
                })
        })
    })
</script>
</body>
</html>