<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/navbar.ejs') %>

<%- include('partials/section-head.ejs', { svgurl: './svg/books.svg', titletext: 'My Books' })%>

<div class="container">
    <div class="tabs">
        <ul>
            <li href="#" class="is-active"><a>My books</a></li>
            <li><a href="/myrequests">My Requests</a></li>
            <li><a href="/requests">Requests to me</a></li>
        </ul>
    </div>
</div>

<section>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-quarters-tablet">
                <!-- ➿ looping the returned results here... -->
                <% if (books) { %>
                <% for(var i = 0; i < books.length; i++) { %>
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img class="book-thumbnail" src="<%= books[i].imgurl %>" alt="">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong class="book-title"><%= books[i].title %></strong>
                                    <small class="book-authors">
                                        <% if (books[i].authors) { %>
                                        <%= books[i].authors %>
                                        <% } %>
                                    </small>
                                    <br/>
                                    <span class="book-description">
                                        <% if (books[i].description) { %>
                                        <%= books[i].description.slice(0, 140) + '...' %>
                                        <% } %>
                                    </span>
                                </p>
                            </div>
                            <button data-bookid="<%= books[i]._id %>" class="book-delete button is-danger has-text-white">Delete</button>
                        </div>
                    </article>
                </div>
                <% }} %>
                <!-- The loop -->
            </div>
        </div>
    </div>
</section>
<div class="modal">
    <div onclick="closeModal()" class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h1 class="title">The book has been deleted! </h1>
        </div>
    </div>
    <button onclick="closeModal()" class="modal-close is-large" aria-label="close"></button>
</div>
<script>
    function closeModal() {
        document.querySelector('.modal').classList += '.modal';
        window.location = '/mybooks';
    }

    var bookdelete = Array.prototype.slice.call(document.querySelectorAll('.book-delete'));
    bookdelete.forEach(function($el) {
        $el.addEventListener('click', function() {
            superagent
                .delete('/mybooks/' + this.dataset.bookid)
                .end((err, res) => {
                    if(res.body.success) {
                        document.querySelector('.modal').classList += ' is-active';
                    }
                })
       });
    });
</script>
</body>
</html>