<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/navbar.ejs') %>

<div class="container">
    <div class="tabs">
        <ul>
            <li><a href="/mybooks">My books</a></li>
            <li><a href="/myrequests">My Requests</a></li>
            <li class="is-active"><a href="#">Requests to me</a></li>
        </ul>
    </div>
</div>

<section>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-quarters-tablet">
                <!-- ➿ looping the returned results here... -->
                <% if (books) { %>
                <% for(var i = 0; i < books.length; i++) { %>
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img class="book-thumbnail" src="<%= books[i].imgurl %>" alt="">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong class="book-title"><%= books[i].title %></strong>
                                    <small class="book-authors">
                                        <% if (books[i].authors) { %>
                                        <%= books[i].authors %>
                                        <% } %>
                                    </small>
                                    <br/>
                                    <span class="book-description">
                                        <% if (books[i].description) { %>
                                        <%= books[i].description.slice(0, 140) + '...' %>
                                        <% } %>
                                    </span>
                                </p>
                            </div>
                            <span class="tag">Requested on <%= books[i].date.toDateString() %></span>
                            <span class="tag">Requested by <%= books[i].requestedby.name %></span>
                        </div>
                    </article>
                </div>
                <% }} %>
                <!-- The loop -->
            </div>
        </div>
    </div>
</section>
<script>

</script>
</body>
</html>