<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/navbar.ejs') %>
<% if (success)  { %>
<div class="notification is-success">
    <button class="delete"></button>
    <%= success %>
</div>
<% } %>
<% if (error)  { %>
<div class="notification is-danger">
    <button class="delete"></button>
    <%= error %>
</div>
<% } %>

<%- include('partials/section-head.ejs', { svgurl: './svg/placeholder.svg', titletext: 'Settings' })%>

<div class="container">
    <div class="columns is-centered">
        <div class="column is-three-fifths">
            <div class="settings-form box">
                <form action="/settings" method="post">
                    <div class="title">Location</div>
                    <div class="field">
                        <label for="city">City</label>
                        <div class="control">
                            <input class="input" type="text" id="city" name="city" placeholder="Update your city" value="<%= city %>">
                        </div>
                    </div>
                    <div class="field">
                        <label for="state">State</label>
                        <div class="control">
                            <input class="input" type="text" id="state" name="state" placeholder="Update your state" value="<%= state %>">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="button is-primary" type="submit" value="Update">
                        </div>
                    </div>
                </form>

                <form action="/changepassword" method="POST">
                    <div class="title">New password?!</div>
                    <div class="field">
                        <label for="currentpass">Current Password</label>
                        <div class="control">
                            <input class="input" type="password" id="currentpass" name="currentpass">
                        </div>
                    </div>
                    <div class="field">
                        <label for="newpass">New Password</label>
                        <div class="control">
                            <input class="input" type="password" id="newpass" name="newpass">
                        </div>
                    </div>
                    <div class="field">
                        <div class="field">
                            <input type="submit" class="button is-danger" value="Save">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>